# Exclude everything
*

# Include specific files and directories
!.gitignore
!README.md
!src/
!docs/
!tools/
!LICENSE
!pyproject.toml
!requirements.txt
!uv.lock
!.env.example

# Exclude build artifacts
**/__pycache__/
